/* Tabs CSS */
.ui-tabs-hide { display: none !important; }
.ui-state-active a {
	font-weight: bold !important;
	background: #fff !important;
	color: #000 !important;
	border-color: #d5d5d5 !important;
	border-bottom-color: #fff !important;
	cursor: text !important;
}

/* Autocomplete CSS */
.ui-autocomplete { padding: 1px; width: 300px; height: 200px; position: absolute; background-color: #F3F3F3; border: 1px solid #EEE; height: auto; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.ui-autocomplete li { padding: 5px; list-style: none; font-size: 16px; background-color: white; cursor: pointer; line-height: 20px; border-bottom: 1px solid #EEE; }
.ui-autocomplete li:last-child { border: none; }
.ui-autocomplete li:hover { background: #ffffff; /* Old browsers */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(51%, #f9f9f9), color-stop(100%, #ffffff)); background: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); background: linear-gradient(top, #ffffff 0%, #f9f9f9 51%, #ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); }
.ui-autocomplete li a { display: block; }

.img-gallery{ 
margin-bottom: 10px;
margin-left: 0;
margin-right: 5px;
margin-top: 5px;
padding: 5px;
border: 1px dashed black;
display: inline-block;
}

.tabpanel{ 
width: 100%;
height: 100%;
}

#no-image{ 
margin-bottom: 0px;
margin-left: 0;
margin-right: 0px;
margin-top: 0px;
}

.width-10 { width: 10em }
.paddingtop-10 { padding-top: 10px; }
.margintop-10 { margin-top: 10px; }


/* CSS for detail page */
.detail-content{
	margin-left: 200px;
	padding-top: 5px;
	width: 60%;
}

.detail-label{
	font-weight: bold;
	width: 180px;
	float: left;
	padding-top: 5px;
	text-align: right;
	display: block;
	margin-bottom: 5px;
	color: #333;
}

.heading-section-top{
	background: #243957;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	padding: 0 10px;
	display: block;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.heading-section{
	background: #243957;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-size: 16px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
	padding: 0 10px;
	display: block;
}

.selected {
	background-color: #243957;
}