/** include fonts type **/
@font-face {
    font-family: 'TwCenMT-BoldItalic';
    src: url('twcenmtbolditalic.eot');
    src: url('twcenmtbolditalic.eot?#iefix') format('embedded-opentype'),
             url('twcenmtbolditalic.woff') format('woff'),
             url('twcenmtbolditalic.ttf') format('truetype'),
             url('twcenmtbolditalic.svg#twcenmtbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TwCenMT-Bold';
    src: url('twcenmtbold.eot');
    src: url('twcenmtbold.eot?#iefix') format('embedded-opentype'),
             url('twcenmtbold.woff') format('woff'),
             url('twcenmtbold.ttf') format('truetype'),
             url('twcenmtbold.svg#twcenmtbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TwCenMT-Italic';
    src: url('twcenmtitalic.eot');
    src: url('twcenmtitalic.eot?#iefix') format('embedded-opentype'),
             url('twcenmtitalic.woff') format('woff'),
             url('twcenmtitalic.ttf') format('truetype'),
             url('twcenmtitalic.svg#twcenmtitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TwCenMT-Regular';
    src: url('twcenmt.eot');
    src: url('twcenmt.eot?#iefix') format('embedded-opentype'),
             url('twcenmt.woff') format('woff'),
             url('twcenmt.ttf') format('truetype'),
             url('twcenmt.svg#twcenmt') format('svg');
    font-weight: normal;
    font-style: normal;
}