/** 
	@project : Cava Property
	@author : Jepri Sinaga
	@version : 1.0 beta
**/

/* GENERAL
---------------------------------------- */
*{outline: none !important;}

body{
	background  : $mainBackground;
	display     : block;
	height      : 100%;
	width       : 100%;
	position    : relative;
	font-family : $bodyFontFamily;
	line-height : 150%;
}

html{
	
	overflow-y: scroll;
}

#main{
	width    : 1260px;
	margin   : 0 auto;
	overflow : hidden;
	position : relative;

}

.columns.five{width: 360px;}
.columns.eleven{width: 900px;}

a{
	color: $linkColor;

	&:hover, &.active{color: #16aa9a;}
}

li.active a{
	color: #16aa9a;
}

h1,h2,h3,h4,h5,h6{
	color: #52b848;
}

.text-g, .text-lg{
	font-family: $bodyFontFamily;	
}

.text-g{color: #52b848 !important;}
.text-lg{color: #959595 !important;}
.text-green{color: #16aa9a !important;}
.text-bg{color: #52b848 !important;}

.f17{font-size: 17px !important;}

.title, .date{
	text-transform : uppercase;
	display        : block;
	clear          : both;
	margin-bottom  : 10px;
}

.title{
	color     : $linkColor;
	font-size : 17px;
}

.date{
	color     : #959595;
	font-size : 11px;
}

.more{
	position  : absolute;
	bottom    : 20px;
	font-size : 10px !important;

	span{
		
	}
}

.more-detail{font-size: 10px !important}

.button-more{
	font-size: 10px !important;
}

.btn-primary{
	width       : 173px;
	height      : 43px;
	background  : url(../images/button.png) no-repeat 0 0;
	text-align  : center;
	line-height : 41px;
	color       : #fff;
	font-size   : 14px;
	border      : none;
	font-weight : bold;
}

.message{
	color: #959595;
	font-size: 11px;
}

.mt10{margin-top: 10px !important;}
.ml10{margin-left: 10px !important;}
.mr10{margin-right: 10px !important;}
.mb10{margin-bottom: 10px !important;}

.mt20{margin-top: 20px !important;}
.ml20{margin-left: 20px !important;}
.mr20{margin-right: 20px !important;}
.mb20{margin-bottom: 20px !important;}

.mt40{margin-top: 40px !important;}
.mt80{margin-top: 80px !important;}

.mtb10{margin: 10px 0}
.mlr10{margin: 0 10px}

.facebook:hover{color: #416ba5;}
.twitter:hover{color: #48b3db;}

.bgwhite{background: $white;}

// position
.absolute{position: absolute}
.fix{position: fixed}
.leftBottom{
	left: 0;
	bottom: 0;
}
.rightBottom{
	right: 0;
	bottom: 0;
}
.topLeft{
	left: 0;
	top: 0;
}
.topRight{
	right: 0;
	top: 0;
}

.clear{
	width         : 100%;
	display       : block;
	clear         : both;
	margin-bottom : 10px;
}

// button
.link-button{
	background     : url(../images/sprite.png) no-repeat 0 -67px;
	height         : 42px;
	width          : 85px !important;
	display        : block;
	text-indent    : -999999px;
	letter-spacing : -999999px;
	overflow       : hidden;

	&:hover{
		background-position: -100px -67px;
	}

	&:active, &:focus{
		background-position: -200px -67px;
	}

	&.apply{
		background-position: 0 -132px;

		&:hover{
			background-position: -100px -132px;
		}

		&:active, &:focus{
			background-position: -204px -132px;
		}
	}
	
	span{
		float          : left;
		text-transform : uppercase;
		padding        : 5px 15px;
		font-size      : 14px;
		color          : #fff;
		font-weight    : bold;
		@include border-radius(6px);
		@include text-shadow(rgba(0,0,0, 0.5) -1px 0px 0px);
		@include box-shadow(0 3px 4px rgba(0,0,0,0.4));
	}

	&.green span{
		@include background(linear-gradient(#0fd7c1, #0cae9c));
		
		&:hover{
			@include background(linear-gradient(#0cac9a,#0fd5bf));	
		}
	}
	
}

// form
form{
	input,select{font-family: $contentFontFamily;}

	.input{
		position      : relative;
		padding       : 5px;
		margin-bottom : 5px;
		@include border-radius(6px);
		@include background(linear-gradient(#ececec, #fbfbfb));
		@include box-shadow(0px 0px 1px (255,255,255, 100), 0 5px 10px rgba(0,0,0,0.05) inset);

		&.input-textarea{
			.error{
				height: 70px;
			}
		}
	}

	label{
		&.error{
			width         : 40% !important;
			font-style    : italic;
			font-size     : 10px !important;
			position      : absolute;
			right         : 0;
			bottom        : 2px;
			height        : 32px;
			line-height   : 32px !important;
			background    : #000;
			background    : rgba(0,0,0,0.7);
			border-radius : 0 5px 5px 0;
			color         : #fff;
			text-align    : center;
		}
	}

	select{
		-webkit-appearance : none;
		-moz-appearance    : none;
		appearance         : none;
		border             : none;
		color              : #7d7d7d;
		padding            : 7px;
		@include border-radius(6px);
		@include background(
			url(../images/icon/drop-arrow.png) no-repeat 97% center,
			linear-gradient(#e8e8e8, #ebebeb)
		);
		@include box-shadow(0 2px 5px rgba(0,0,0,0.25) inset);

		&.disabled{
			@include background(
				url(../images/icon/drop-arrow.png) no-repeat 97% center,
				linear-gradient(#d9d2d2, #e1d2d2)
			);
		}
	}	

	input[type="text"], input[type="email"], input[type="number"], textarea, input[type="password"]{
		border        : none;
		color         : #7d7d7d;
		padding       : 7px;
		margin-bottom : 0;
		font-family   : $contentFontFamily;
		font-size     : 12px;
		@include border-radius(6px);
		@include background(linear-gradient(#e8e8e8, #ebebeb));
		@include box-shadow(0 2px 7px rgba(0,0,0,0.25) inset);
	}

	select{
		font-family : $contentFontFamily;
		color       : #7d7d7d;
		font-size   : 12px;
	}

	input[type="submit"]{
		border         : none;
		height         : 42px;
		width          : 173px;
		background     : url(../images/sprite.png) no-repeat 0 0;
		letter-spacing : -999999px;
		text-indent    : -999999px;
		overflow       : hidden;

		&:hover{
			background-color: transparent;
			background-position : -200px 0;
		}

		&:active, &:focus{
			background-color: transparent;
			background-position : -400px 0;
		}

		&.send{
			width: 84px;
			background-position : 0 -193px;

			&:hover{
				background-color: transparent;
				background-position : -100px -193px;
			}

			&:active, &:focus{
				background-color: transparent;
				background-position : -197px -193px;
			}
		}
		
	}
}


/** header **/
header{

	nav{
		background: $white;

		&.fix{
			position : fixed;
			width    : 360px;
			padding  : 24px 0;
			z-index  : 9;
			top      : 0;
			
			//margin-left: -640px;

			.logo{
				text-align: center;
				
				h1{margin: 0;}
			}

			ul{margin: 10px 0 0 5px;}

			li.active a {color: #16aa9a}
		}



		&.member{
			background : none;
			position   : fixed;
			z-index    : 20;
			width      : 1260px;
			
			ul{ 
				float      : right;
				margin     : 0;
				padding    : 8px 18px;
				background : #fff;

				li{
					float  : left;
					margin : 0;
					
					a{margin: 0 10px;}

					&:first-child a {padding-right: 10px; border-right: 1px solid #333}
					&:last-child a {margin-left: 0}
				}
			}
		}
	}

	.three{
		position: fixed;
		width: 100%;
		z-index: 20;
			
		nav.member{
			width: auto !important;
			position: relative;
		}
	}
	
}

// carousel

#slider { height: 180px; overflow:hidden; position: relative;}
#slider .viewport { float: left; width: 720px; height: 180px; overflow: hidden; position: relative; }
#slider .buttons, #carousel a.next, #carousel a.prev{ display: block; width: 25px; height: 50px; margin: -20px 0 0; display: block; position: absolute; top: 50%; z-index: 100; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
#slider .next, #carousel a.next{right: -50px; background: url(../images/button-next.png) no-repeat 0 0}
#slider .prev, #carousel a.prev{left: -50px; background: url(../images/button-prev.png) no-repeat 0 0}
#slider:hover .next, #carousel:hover .next {opacity: 0.8; right: 5px;}
#slider:hover .prev, #carousel:hover .prev {opacity: 0.8; left: 5px;}
#slider:hover .next:hover, #slider:hover .prev:hover , #carousel:hover .next:hover , #carousel:hover .prev:hover{opacity: 1;}
#slider .disabled , #carousel .disabled{opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
#slider .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; }
#slider .active { color: #fff; background-color:  #555555; }
#slider .next.disabled, #carousel a.next.disabled, #slider .prev.disabled, #carousel a.prev.disabled{display: none;}

#carousel{position: relative}

#carousel ul {
	position   :absolute; /* required */
	overflow   :hidden; /* required */
	margin     :0;
	padding    :0;
	list-style :none;
}
 
#carousel ul li {
	float      :left; /* required */
	width      :720px;
	height     :360px;
	position   : relative;
	background : #fff;

	&.contact{
		width: 210px;
		padding-right: 30px;
		text-align: center;

		article{
			width: 100%;
			word-break: break-word;
		}

		&.loading{
			background: #fff url(../images/preloader.gif) no-repeat center 60px;
		}
	}

	img{
		min-height: 360px;

		&.ui-datepicker-trigger{
			min-height: 10px;
			margin-bottom: 10px;
			cursor: pointer;
		}
	}

	&.video{
		cursor: pointer;
		
		&:hover{
			.play{
				@include opacity(0.5);
				@include transition-property(opacity);
				@include transition-duration(0.5s);
				@include transition-timing-function(ease-in-out);
			}
		}

		.video-content{
			position: absolute;
			top: 0;
			left: 0;
			display: none;
		}

		.play{
			width: 37px;
			height: 50px;
			background: url(../images/icon/play.png) no-repeat 0 0;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -25px 0 0 -18px;
			@include opacity(1);
			@include transition-property(opacity);
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-in-out);
		}

		.close{
			width: 30px;
			height: 30px;
			background: #fff;
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
			line-height: 30px;
			display: block;
			font-size: normal;
			cursor: pointer;
			@include border-radius(50%);
			@include box-shadow(rgba(0,0,0,0.5) 1px 1px 2px);
		}
	}
	
	article{
		color: #636363;
		display: table;
		vertical-align: middle;
		font-size: 12px;
		padding-top: 100px;

		p{
			text-align: center;
			margin-bottom: 10px;
			
		}

		a, span{
			display: block;
			font-size: 12px;
			color: #52b848;
			text-align: center;
			clear: both;

			&.people{color: #16aa9a}
		}
	}

	.text{
		position: absolute;
		bottom: 10px;
		left: 10px;	
		font-size: 12px;
		color: #fff;
		margin: 0;
		padding: 0;
	}
}
 
#carousel .mask {
    position:relative; /* required */
    overflow:hidden; /* required */
    width:900px; /* required */
}
 
#carousel .pagination-links { display: none; }

#carousel li{margin: 0}



// CONTENT
.container{
	margin   : 175px 0 50px;
	position : relative;
	z-index  : 0;
	&.space-top{margin: 189px 0 40px;}
	
	h1,h2,h3,h4,h5,h6{margin-top:0; font-weight: normal; text-transform: uppercase;}

	p, input, a, article, span{
		font: normal 12px/150% $contentFontFamily;
	}

	.row{
		position: relative;
		// min-height: 360px;
	}

	.article{
		display: block;
		clear: both;
		margin-bottom: 15px;
		
		p, li{
			font: normal 12px/150% "arial","Helvetica Neue","Helvetica",Helvetica,sans-serif;
		}
	}

	&.news-update{
		.active{
			height: 550px;
		}

		.nine{
			width: 680px;
			// height: 360px;
			overflow: hidden;
		}
	}

	article{
		padding     : 20px;
		min-height  : 337px;
		font-family : $contentFontFamily;
		min-height  : 360px;
		
		p{color: #636363;}
	}
	
	.right-sidebar{
		min-height  : 360px;
		max-height  : 390px;
		overflow    : auto;
		min-width   : 200px;
		padding     : 20px;
		background  : $white;
		position    : fixed;
		z-index     : 10;
		top         : 0;
		margin-top  : 190px;
		margin-left : 1060px;
		width       : 200px;
		
		ul,li{list-style: none;}
		
		span{
			font   : normal 13px/150% "arial","Helvetica Neue","Helvetica",Helvetica,sans-serif;
			color  : #707070;
			cursor : pointer;
			
			&:hover, &.active{
				color: #16aa9a;
			}
		}

		ol{
			display: none;
		}
	}

	.sidebar{
		padding: 20px;
		min-height: 360px;
		
		form{margin-bottom: 0;}

		.submit{ 
			width: 55%;
			margin: 40px auto 0;
		}

		.mlr10{display: block;}
				
		span{color: #636363}

		&.expand{
			width    : 100%;
			position : absolute;
			z-index  : 10;
		}

		ul{
			list-style: inside;
		}
		
		.sub-head{margin-bottom: 5px}

		.sub-head~a{margin-left: 10px}
		
		#finder-container{
			position   : absolute;
			top        : 0;
			left       : -360px;
			width      : 100%;
			height     : 100%;
			background : $white;

			@include transition-property(left);
			@include transition-duration(0.5s);
			@include transition-timing-function(ease-in-out);


			.close{
				// position    : absolute;
				// right       : -18px;
				// top         : -8px;
				// text-align  : center;
				// z-index     : 3;
				// height      : 30px;
				// width       : 30px;
				// line-height : 25px;
				// background  : #000;
				// color       : $white;
				// font-size   : 14px;
				// font-weight : bold;
				// border      : 2px solid $white;
				// cursor      : pointer;
				// @include box-shadow(rgba(0,0,0,0.5) 1px 1px 2px);
				// @include border-radius(50%);
				
				width          : 10px;
				height         : 10px;
				background     : url(../images/icon/close.png) no-repeat;
				position       : absolute;
				top            : 5px;
				right          : 5px;
				cursor         : pointer;
				letter-spacing : -999999px;
				text-indent    : -99999px;
				overflow       : hidden;
			}
		}

		.thumbnail{	
			margin-left: -20px;
			width: 360px !important;
			
			ul,li{list-style:none; float: left}

			li{
				float    : left;
				width    : 180px;
				height   : 180px;
				position : relative;
				
				a{
					position : absolute;
					left     : 0;
					top      : 0;
					width    : 180px;
					height   : 180px;
					display  : block;
				}

				span{
					display        : table-cell; 
					vertical-align : middle; 
					text-align     : center;
					width          : 180px;
					height         : 180px;
					font-size      : 12px;
					color          : #707070;
					text-transform : uppercase;
					background     : rgba(255,255,255,.7);
					@include text-shadow(rgba(255,255,255, 1) 1px 1px 0px);
					@include opacity(1);
					@include transition-property(opacity);
					@include transition-duration(0.5s);
					@include transition-timing-function(ease-in-out); 
					
					small{
						font-size : 11px;
						display   : block;
						clear     : both;
					}
				}

				&:hover, &.active{
					span{
						@include opacity(0);
						@include transition-property(opacity);
						@include transition-duration(0.5s);
						@include transition-timing-function(ease-in-out);
					}
				}
			}
		}
	}

	#isotope-container{
		position   : relative;
		width      : 100%;
		min-height : 540px;
		float      : left;

		.item{
			width      : 180px; 
			background : $white;
			float      : left;
			position   : absolute;
			cursor     : pointer;
			
			&:hover{
				span{
					color: #16aa9a;
				}
			}
			&.active{
				z-index: 10;

				span{
					color: #16aa9a;
					@include transition-property(color);
					@include transition-duration(.5s);
					@include transition-timing-function(ease-in-out);
				}
				small{
					display: block;
					@include opacity(1);
					@include transition-property(opacity);
					@include transition-duration(.5s);
					@include transition-timing-function(ease-in-out);
				}

			}
			&:nth-child(2){left: 180px; top: 180px;}
			&:nth-child(3){right: 0; top: 0}
			&:nth-child(4){right: 0; top: 180px;}
			&:nth-child(5){right: 180px; top: 180px;}

			.eight, .sixteen{
				height: 180px;
				position: relative; 
				background: #fff;
				
				&:after {z-index: 5}
				&.left:after {
					right          : 100%;
					border         : solid transparent;
					content        : " ";
					height         : 0;
					width          : 0;
					position       : absolute;
					pointer-events : none;
				}

				&.left:after {
					border-color       : rgba(255, 255, 255, 0);
					border-right-color : #fff;
					border-width       : 15px;
					top                : 50%;
					margin-top         : -15px;
				}

				&.top:after {
					bottom         : 100%;
					border         : solid transparent;
					content        : " ";
					height         : 0;
					width          : 0;
					position       : absolute;
					pointer-events : none;
				}

				&.top:after {
					border-color        : rgba(255, 255, 255, 0);
					border-bottom-color : #fff;
					border-width        : 15px;
					left                : 50%;
					margin-left         : -15px;
				}

				&.right:after {
					left           : 100%;
					border         : solid transparent;
					content        : " ";
					height         : 0;
					width          : 0;
					position       : absolute;
					pointer-events : none;
				}

				&.right:after {
					border-color: rgba(255, 255, 255, 0);
					border-left-color: #fff;
					border-width: 15px;
					top: 50%;
					margin-top: -15px;
				}

				&.bottom:after {
					top: 100%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&.bottom:after {
					border-color: rgba(255, 255, 255, 0);
					border-top-color: #fff;
					border-width: 15px;
					left: 50%;
					margin-left: -15px;
				}

				img{cursor: pointer}
			}

			.row{
				cursor: pointer;
			}

			.overlay{
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				background: rgba(0,0,0,.4);
				z-index: 6;
			}

			span{
				display        : table-cell; 
				vertical-align : middle; 
				text-align     : center;
				width          : 180px;
				height         : 180px;
				color          : #707070;
				text-transform : uppercase;
				font           : 600 14px/150% "TwCenMT-Bold","Helvetica Neue", "Helvetica", Helvetica, sans-serif;
				@include transition-property(color);
				@include transition-duration(.5s);
				@include transition-timing-function(ease-in-out);

				small{
					font-size : 11px;
					position  : absolute;
					width     : 100%;
					color     : #707070;
					top       : 55%;
					left      : 0;
					@include opacity(0);
					@include transition-property(opacity);
					@include transition-duration(.5s);
					@include transition-timing-function(ease-in-out);
				}
			}

			.detail-bio{
				padding : 20px 10px;
				display : none;
				height  : 180px;

				&.show-left{
					position   : absolute;
					top        : 0;
					left       : -180px;
					background : #fff;
					height     : 100%;
					width      : 100%;
					
					.desc{
						height: 360px;
					}
				}

				.desc{
					width     : 98%;
					color     : #636363;
					font-size : 12px;
					height    : auto;
					margin    : 2% 1%;
					overflow  : auto;
				}

				strong{
					font: 600 14px/150% "TwCenMT-Bold","Helvetica Neue", "Helvetica", Helvetica, sans-serif;
					margin-bottom: 10px;
				}

				.close{
					width: 7px;
					height: 7px;
					background: url(../images/icon/close.png) no-repeat;
					position: absolute;
					bottom: 5px;
					right: 10px;
					cursor: pointer;
				}
			}

		}

		.item.double{
			width: 360px;
			
			.desc{
				height: 110px;
			}
		}

		.bgwhite{height: 180px;}
	}

	.scroll-content{
		width: 900px !important;

		.bgwhite{width: 685px; float: left}
	}

	&.profile{
		.nine{
			width: 680px;
			
			nav{
				padding: 30px 30px 0;				
				
				a,span{
					font-size: 17px;
					margin-right: 30px;
					color: #52b848;
				}
			}
		}

		.right-sidebar{
			ul{margin: 0;}

			li{
				border-bottom: 1px dotted #959595;
				padding: 0 0 5px;
				margin-bottom: 5px;
				
				a{
					color: $linkColor;
					font-size: 12px;
					font-family: arial, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
					line-height: 130%;
					display: block;
				}
				span{color: #959595}
				
				&:hover{
					a{color: #52b848}
					span{color: #f7941d}
				}

				&:last-child{margin-bottom: 0; border-bottom: none}
			}
		}

		table{
			width: 100%;
			border: none;	
			border-spacing: 2px;
			  
			td,th{font-size: 12px; color: #7d7d7d;}
			
			thead{
				tr,th{
					background: #fff;
					border: none;	
					padding-left: 0;
				}

				th{
					text-align: left;
					font-weight: normal;
				}	
			}

			tbody{
				
				td{
					background: #ebebeb;
					margin: 0 3px 3px 0;
					border-right: 1px solid #fff;
					border-bottom: 1px solid #fff;
				}
			}
		}
	}

	&.our-project{
		.left{
			max-width : 720px;
			width     : 100%;
		}

		.flexslider{
			height: 360px;
			width: 720px;
		}

		.container-article{
			height    : 168px;
			overflow  : auto;
		}

		.list-property{
			margin: 0;

			li{
				margin   : 0;
				padding  : 0;
				position : relative;
			}

			img{
				width: 100%;
				height: 100%;
			}

			a{
				position: absolute;
				left: 0;
				top: 0;
				width: 180px;
				height: 180px;
				display: block;

				span{
					display: table-cell; 
					vertical-align: middle; 
					text-align: center;
					width: 180px;
					height: 180px;
					font-size: 12px;
					color: #707070;
					text-transform: uppercase;
					background     : rgba(255,255,255,.7);
					@include text-shadow(rgba(255,255,255, 1) 1px 1px 0px);
					@include opacity(1);
					@include transition-property(opacity);
					@include transition-duration(0.5s);
					@include transition-timing-function(ease-in-out); 
					
					small{
						font-size: 11px;
						display: block;
						clear: both;
					}
				}

				&:hover, &.active{
					span{
						@include opacity(0);
						@include transition-property(opacity);
						@include transition-duration(0.5s);
						@include transition-timing-function(ease-in-out);
					}
				}
			}
		}
	}

	&.about-us{
		.text-green{
			font-family: "TwCenMT-Regular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
		}
	}

	&.our-project, &.search, &.profile{

		.thumbnail{
			width:  720px;
			left: 360px;
			top: -190px;
			

			ul,li{list-style:none; float: left}

			li{
				float: left;
				width: 180px;
				height: 180px;
				position: relative;
				
				a{
					position: absolute;
					left: 0;
					top: 0;
					width: 180px;
					height: 180px;
					display: block;
				}

				span{
					display: table-cell; 
					vertical-align: middle; 
					text-align: center;
					width: 180px;
					height: 180px;
					font-size: 12px;
					color: #707070;
					text-transform: uppercase;
					background     : rgba(255,255,255,.7);
					@include text-shadow(rgba(255,255,255, 1) 1px 1px 0px);
					@include opacity(1);
					@include transition-property(opacity);
					@include transition-duration(0.5s);
					@include transition-timing-function(ease-in-out); 
					
					small{
						font-size: 11px;
						display: block;
						clear: both;
					}
				}

				&:hover, &.active{
					span{
						@include opacity(0);
						@include transition-property(opacity);
						@include transition-duration(0.5s);
						@include transition-timing-function(ease-in-out);
					}
				}
			}
		}

		div.right{
			width: 183px;
			padding: 15px;
			position: fixed;
			margin-left: 720px;
			min-height: 360px;
			
			ul{margin: 0;}

			li{
				border-bottom: 1px dotted #959595;
				padding: 0 0 5px;
				margin-bottom: 5px;
				
				a{
					color: $linkColor;
					font-size: 12px;
					font-family: arial, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
					line-height: 130%;
					display: block;
				}
				span{color: #959595}
				
				&:hover{
					a{color: #52b848}
					span{color: #f7941d}
				}

				&:last-child{margin-bottom: 0; border-bottom: none}
			}

		}

	}

	&.contact{
		.sidebar{
			min-height: 400px;
			
			ul{
				margin-bottom: 20px;
				
				li{padding: 0 8px 0px;}
			}
		}
		.scroll-content .bgwhite{height: 400px;}
		
	}
}

// FOOTER
footer{
	width: 100%;
	padding: 5px 0;
	background: $white;

	nav a{margin: 0 10px;}
	.two{
		text-align: center;
		font-size: 12px;
	}

	a{color :#898989; font-size: 12px;}
}


// form 

#login-form{
	width: 50%;
}

.slide{
	min-width : 300px;
	max-width : 50%;
	right     : 0;
	position  : absolute;
	z-index   : 10;
	top       : -50%;
}

.member-area{
	padding   : 40px 30px 17px;
	@include transition-property(all);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in-out);
	&.active{
		z-index : 20;
		top     : 0 !important;
		@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-in-out);
	}

	p, a{
		font-size: 11px; 
		color: #959595;
		font-family: $contentFontFamily;
	}

	a{line-height: 42px;}

	form{margin-bottom: 0}

	input[type="submit"]{
		width: 123px;
		background: url(../images/button-member.png) no-repeat 0 0;
	}

	textarea{
		height: 70px;
		resize: none;
	}

	select{
		background: url(../images/icon/drop-arrow.png) no-repeat 95% center,-webkit-linear-gradient(#e8e8e8,#ebebeb)
	}

	.block{
		width: 100%;
		clear: both;
		float: left;

		&.titles{
			.input{
				width: 20%;
				float: left;
			}
		}

		&.dob{
			.input{float:left; margin-right: 5px; clear: none}
			.date{width: 17%}
			.month{width: 25%;}
			.year{width: 25%; margin: 0}
		}

		&.loading{
			background: url(../images/preloader.gif) no-repeat 70% center;
		}
		
		label{
			width: 30%;
			float: left;
			line-height: 42px;
			font-family: $contentFontFamily;
			font-size: 12px;
		}

		.input{
			position: relative;
			float: right;
			width: 70%;
		}
	}

	.close{
		width      : 7px;
		height     : 7px;
		background : url(../images/icon/close.png) no-repeat;
		position   : absolute;
		top        : 10px;
		right      : 10px;
		cursor     : pointer;
	}
}

#register{
	background : #fff;
	width      : 540px;
	height     : 600px;
	overflow-y : scroll;
	top        : -110%;
	
	input{
		background-position: 0 -125px;

		&:hover{background-position: -150px -125px}
		&:focus{background-position: -300px -125px}		
	}
	

}

#log-in-form, #fg-pass-form{
	.loading{background: url(../images/preloader.gif) no-repeat 50% center;}
}

#login, #forgot-pass{
	background : #fff;
	width      : 360px;

	&.well{
		width: auto !important;
	}
}

#login input[type="submit"]{
	&:hover{background-position: -150px 0}
	&:focus{background-position: -300px 0}
}

#forgot-pass input[type="submit"], #update-profile input[type="submit"]{
	background-position: 0 -63px;

	&:hover{background-position: -150px -63px}
	&:focus{background-position: -300px -63px}	
}

.alert-box{
	display               : block;
	padding               : 6px 7px 7px;
	font-weight           : bold;
	font-size             : 14px;
	color                 : white;
	background-color      : #2ba6cb;
	border                : 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom         : 12px;
	-webkit-border-radius : 3px;
	-moz-border-radius    : 3px;
	-ms-border-radius     : 3px;
	-o-border-radius      : 3px;
	border-radius         : 3px;
	text-shadow           : 0 -1px rgba(0, 0, 0, 0.3);
	position              : relative;

	p{
		color: #fff;
		margin-bottom: 0;
	}

	&.error{
		background-color : #c60f13;
		color            : #fff;
		text-shadow      : 0 -1px rgba(0, 0, 0, 0.3);	
	}

	a.close-error {
		color       : #fff;
		position    : absolute;
		right       : 4px;
		top         : -1px;
		font-size   : 17px;
		opacity     : 0.2;
		padding     : 4px;
		line-height : 17px;
	}
}

.sidebar .top{
	display: block;
	clear: both;

	h5{display: inline-block;}
}

.category-property p{
	margin-left: 15px;
}


.category-property{
	margin-bottom : 15px;
	min-height    : 20px;
	@include transition-property(all);
	@include transition-duration(1s);
	@include transition-timing-function(ease-in-out);

	.sub-head{
		cursor: pointer;
		background: url(../images/icon/drop-arrow.png) no-repeat right center;
	}

	p{
		overflow: hidden;
		height: 0px;
		@include opacity(0);
		@include transition-property(all);
		@include transition-duration(1s);
		@include transition-timing-function(ease-in-out);
	}

	&.active{
		min-height : 100px;
		@include transition-property(all);
		@include transition-duration(1s);
		@include transition-timing-function(ease-in-out);

		.sub-head{
			background: url(../images/icon/up-arrow.png) no-repeat right center;		
		}

		p{
			min-height : 100px;
			@include opacity(1);
			@include transition-property(all);
			@include transition-duration(1s);
			@include transition-timing-function(ease-in-out);
		}
	}
}



